<% if @kitten.errors.any? %>
  <div id="error-msg">
    <ul id="error-list">
      <% @kitten.errors.full_messages.each do |msg| %>
        <li class="msg"><span><%= msg %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @kitten do |form| %>

  <div id="form-container" class="form-divs">

    <div class="form-divs">
      <%= form.label :name, class: "label" %><br>
      <%= form.text_field :name, class: "input" %>
    </div>

    <div class="form-divs">
      <%= form.label :age, class: "label" %><br>
      <%= form.number_field :age, class: "input" %>
    </div>

    <div class="form-divs">
      <%= form.label :cuteness, "Cuteness (Out of 10)", class: "label" %><br>
      <%= form.number_field :cuteness, class: "input" %>
    </div>

    <div class="form-divs">
      <%= form.label :softness, "Softness (Out of 10)", class: "label" %><br>
      <%= form.number_field :softness, class: "input" %>
    </div>

  </div>

  <div id="btn-container" class="form-divs">
    <%= form.submit "Create", id: "new-btn" %>
  </div>

<% end %>