<%= render "shared/flash" %>

<a href="<%= "#{kitten_url}.json" %>" target="_blank" id="title-kitten-index" style="display: block; font-size: 20px; margin: 30px 0 30px 0;">JSON API Output</a>

<div id="detail-container">
  <h1 id="kitten-name">Kitten: <%= @kitten.name %></h1>
  <p class="detail">
    <strong>Name:</strong> <%= @kitten.name %>
  </p>

  <p class="detail">
    <strong>Age:</strong> <%= @kitten.age %>
  </p>

  <p class="detail">
    <strong>Cuteness:</strong> <%= @kitten.cuteness %>
  </p>

  <p class="detail">
    <strong>Softness:</strong> <%= @kitten.softness %>
  </p>

  <div id="links">
  
    <a id="back-link" href=<%= root_path %>>
      <img class="show-btn" src="/images/back.png" height="40" width="40"></a>
    </a>

    <a id="edit-show" href=<%= edit_kitten_path %>><img class="show-btn" src="/images/edit-white.png" height="40" width="40"></a>

    <%= link_to @kitten, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-show" do %>
      <img class="show-btn" src="/images/delete-white.png" class="options" height="40" width="40">
    <% end %>
  </div>
</div>